#logo {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/spritely_logo.png', sizingMethod='crop');
}

#clouds {
	background-image: url(../images/ie6-cloud.png);
}
#hill2 {
	background-image: url(../images/ie6-hill2.png);
}
#hill1 {
	background-image: url(../images/ie6-hill-with-windmill.png);
}

#bird {
	background-image: url(../images/ie6-bird-forward-back.png);
}